In [2]:
import numpy as np
import pandas as pd

In [3]:
date = pd.read_csv('orders.csv')
time = pd.read_csv('messages.csv')

In [4]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [5]:
time.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [6]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [7]:
#converting object to date time
date['date'] = pd.to_datetime(date['date'])

In [8]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [18]:
# extract year
date['date_year'] = date['date'].dt.year
date.head()

,date,product_id,city_id,orders,date_year,date_month,month_name,date_month_name
0,2019-12-10,5628,25,3,2019,12,<bound method PandasDelegate._add_delegate_acc...,December
1,2018-08-15,3646,14,157,2018,8,<bound method PandasDelegate._add_delegate_acc...,August
2,2018-10-23,1859,25,1,2018,10,<bound method PandasDelegate._add_delegate_acc...,October
3,2019-08-17,7292,25,1,2019,8,<bound method PandasDelegate._add_delegate_acc...,August
4,2019-01-06,4344,25,3,2019,1,<bound method PandasDelegate._add_delegate_acc...,January

In [19]:
#extract month
date['date_month_no'] = date['date'].dt.month
date.head()

,date,product_id,city_id,orders,date_year,date_month,month_name,date_month_name,date_month_no
0,2019-12-10,5628,25,3,2019,12,<bound method PandasDelegate._add_delegate_acc...,December,12
1,2018-08-15,3646,14,157,2018,8,<bound method PandasDelegate._add_delegate_acc...,August,8
2,2018-10-23,1859,25,1,2018,10,<bound method PandasDelegate._add_delegate_acc...,October,10
3,2019-08-17,7292,25,1,2019,8,<bound method PandasDelegate._add_delegate_acc...,August,8
4,2019-01-06,4344,25,3,2019,1,<bound method PandasDelegate._add_delegate_acc...,January,1

In [20]:
#extract month name
date['date_month_name'] = date['date'].dt.month_name()
date.head()

,date,product_id,city_id,orders,date_year,date_month,month_name,date_month_name,date_month_no
0,2019-12-10,5628,25,3,2019,12,<bound method PandasDelegate._add_delegate_acc...,December,12
1,2018-08-15,3646,14,157,2018,8,<bound method PandasDelegate._add_delegate_acc...,August,8
2,2018-10-23,1859,25,1,2018,10,<bound method PandasDelegate._add_delegate_acc...,October,10
3,2019-08-17,7292,25,1,2019,8,<bound method PandasDelegate._add_delegate_acc...,August,8
4,2019-01-06,4344,25,3,2019,1,<bound method PandasDelegate._add_delegate_acc...,January,1

In [22]:
# extract days
date['date_day'] = date['date'].dt.day
date.head()

,date,product_id,city_id,orders,date_year,date_month,month_name,date_month_name,date_month_no,date_day
0,2019-12-10,5628,25,3,2019,12,<bound method PandasDelegate._add_delegate_acc...,December,12,10
1,2018-08-15,3646,14,157,2018,8,<bound method PandasDelegate._add_delegate_acc...,August,8,15
2,2018-10-23,1859,25,1,2018,10,<bound method PandasDelegate._add_delegate_acc...,October,10,23
3,2019-08-17,7292,25,1,2019,8,<bound method PandasDelegate._add_delegate_acc...,August,8,17
4,2019-01-06,4344,25,3,2019,1,<bound method PandasDelegate._add_delegate_acc...,January,1,6

In [24]:
#extract day of week
date['date_week'] = date['date'].dt.dayofweek
date.head()

,date,product_id,city_id,orders,date_year,date_month,month_name,date_month_name,date_month_no,date_day,date_week
0,2019-12-10,5628,25,3,2019,12,<bound method PandasDelegate._add_delegate_acc...,December,12,10,1
1,2018-08-15,3646,14,157,2018,8,<bound method PandasDelegate._add_delegate_acc...,August,8,15,2
2,2018-10-23,1859,25,1,2018,10,<bound method PandasDelegate._add_delegate_acc...,October,10,23,1
3,2019-08-17,7292,25,1,2019,8,<bound method PandasDelegate._add_delegate_acc...,August,8,17,5
4,2019-01-06,4344,25,3,2019,1,<bound method PandasDelegate._add_delegate_acc...,January,1,6,6

In [26]:
date['date_day_name'] = date['date'].dt.day_name()
date.head()

,date,product_id,city_id,orders,date_year,date_month,month_name,date_month_name,date_month_no,date_day,date_week,date_day_name
0,2019-12-10,5628,25,3,2019,12,<bound method PandasDelegate._add_delegate_acc...,December,12,10,1,Tuesday
1,2018-08-15,3646,14,157,2018,8,<bound method PandasDelegate._add_delegate_acc...,August,8,15,2,Wednesday
2,2018-10-23,1859,25,1,2018,10,<bound method PandasDelegate._add_delegate_acc...,October,10,23,1,Tuesday
3,2019-08-17,7292,25,1,2019,8,<bound method PandasDelegate._add_delegate_acc...,August,8,17,5,Saturday
4,2019-01-06,4344,25,3,2019,1,<bound method PandasDelegate._add_delegate_acc...,January,1,6,6,Sunday

In [27]:
date['date_is_week'] = np.where(date['date'].isin(['Sunday','Saturday']), 1,0)

In [33]:
date['quarter'] = date['date'].dt.quarter
date.head()

,date,product_id,city_id,orders,date_year,date_month,month_name,date_month_name,date_month_no,date_day,date_week,date_day_name,date_is_week,quarter
0,2019-12-10,5628,25,3,2019,12,<bound method PandasDelegate._add_delegate_acc...,December,12,10,1,Tuesday,0,4
1,2018-08-15,3646,14,157,2018,8,<bound method PandasDelegate._add_delegate_acc...,August,8,15,2,Wednesday,0,3
2,2018-10-23,1859,25,1,2018,10,<bound method PandasDelegate._add_delegate_acc...,October,10,23,1,Tuesday,0,4
3,2019-08-17,7292,25,1,2019,8,<bound method PandasDelegate._add_delegate_acc...,August,8,17,5,Saturday,0,3
4,2019-01-06,4344,25,3,2019,1,<bound method PandasDelegate._add_delegate_acc...,January,1,6,6,Sunday,0,1

In [34]:
#extract time 
import datetime
today = datetime.datetime.today()
today

datetime.datetime(2025, 7, 16, 15, 11, 52, 892946)

In [36]:
today - date['date']

0     2045 days 15:11:52.892946
1     2527 days 15:11:52.892946
2     2458 days 15:11:52.892946
3     2160 days 15:11:52.892946
4     2383 days 15:11:52.892946
                 ...
995   2473 days 15:11:52.892946
996   2414 days 15:11:52.892946
997   2262 days 15:11:52.892946
998   2327 days 15:11:52.892946
999   2101 days 15:11:52.892946
Name: date, Length: 1000, dtype: timedelta64[ns]

In [41]:
time ['date'] = pd.to_datetime(time['date'])

In [42]:
time.head()

                 date                                                msg
0 2013-12-15 00:50:00                           ищу на сегодня мужика 37
1 2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2 2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3 2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4 2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [43]:
time['hour'] = time['date'].dt.hour
time['min'] = time['date'].dt.minute
time['sec'] = time['date'].dt.second
time.head()

,date,msg,hour,min,sec
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0

In [44]:
today - time['date']

0     4231 days 14:21:52.892946
1     4095 days 15:31:52.892946
2     4581 days 14:50:52.892946
3     3883 days 14:40:52.892946
4     4280 days 16:00:52.892946
                 ...
995   4870 days 14:21:52.892946
996   4191 days 15:57:52.892946
997   4656 days 15:34:52.892946
998   4772 days 15:37:52.892946
999   4044 days 15:46:52.892946
Name: date, Length: 1000, dtype: timedelta64[ns]

In [45]:
(today - time['date'])/np.timedelta64(1,'m')

0      6.093502e+06
1      5.897732e+06
2      6.597531e+06
3      5.592401e+06
4      6.164161e+06
           ...
995    7.013662e+06
996    6.035998e+06
997    6.705575e+06
998    6.872618e+06
999    5.824307e+06
Name: date, Length: 1000, dtype: float64