In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [15]:
df = pd.read_csv('train.csv', usecols=['Age', 'Survived','Pclass', 'Fare'])

In [16]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [17]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [18]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [26]:
mi = KNNImputer(n_neighbors=5)

In [27]:
knn1 = mi.fit_transform(X_train)
knn2= mi.transform(X_test)

In [28]:
lr = LogisticRegression()
lr.fit(knn1,y_train)
y_pred = lr.predict(knn2)
accuracy_score(y_test,y_pred)

0.7430167597765364

In [29]:
si = SimpleImputer()

In [30]:
trf1 = si.fit_transform(X_train)
trf2 = si.transform(X_test)

In [32]:
lr = LogisticRegression()
lr.fit(trf1,y_train)
y_pred = lr.predict(trf2)
accuracy_score(y_test,y_pred)

0.7486033519553073